<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>dflogo</string>
		<key>Key</key>
		<string>logotype</string>
		<key>Title</key>
		<string>Logo Type</string>
		<key>Titles</key>
		<array>
			<string>Normal Logo</string>
			<string>Phillies Logo</string>
			<string>Giants Logo</string>
			<string>Rangers Logo</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>dflogo</string>
			<string>dflogo_phils</string>
			<string>dflogo_giants</string>
			<string>dflogo_rangers</string>
		</array>
	</dict>
</array>
</plist>
